.new-todo {
  padding: 3rem;
  text-align: center;
}

.new-todo__header {
  font-size: 1.5rem;
}

.new-todo__control {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 2;
  padding: 1rem;
}

.new-todo__input,
.new-todo__submit {
  background: white;
  border: 1px solid #FEC8D8;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  padding: 0 0.5rem;
}

.new-todo__input {
  border-radius: 0.5rem 0 0 0.5rem;
  margin-left: 1rem;
}

.new-todo__submit {
  border-left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

.new-todo__submit:hover {
  background: #FEC8D8;
}

.new-todo__submit:active {
  box-shadow: inset 0 0 2px rgba(149, 125, 173, 0.5);
}
