.app {
  background: #fcfcfc;
  border-left: 1px solid #957dad;
  border-right: 1px solid #957dad;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  min-height: 100vh;
  width: 1080px;
}

.header {
  background: #FEC8D8;
  border-bottom: 1px solid #957dad;
  font-size: 2rem;
  padding: 1rem;
}
