.todos {
  line-height: 2;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 500px;
}

.todos--empty {
  text-align: center;
}

.todos__todo {
  border-bottom: 1px solid #FEC8D8;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.todos__todo > * {
  flex: 0 0 auto;
}

.todos__status {
  border: 0;
  background: none;
  font-size: 1.5rem;
  line-height: normal;
  text-align: center;
  width: 3rem;
}

.todos__text {
  flex: 1;
  padding: 0 0.5rem;
}
